body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: transparent;
}

body, html {
  height: 100%;
}
img {
  max-width: 100%;
}

.cd-section {
  min-height: 100%;
}

.cd-section:nth-of-type(odd) {
  background-color: #3e3947;
}
.cd-section:nth-of-type(even) {
  background-color: #745360;
}

.cd-nav-trigger {
  display: none;
}

.vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.vertical-nav li {
  text-align: right;
}
.vertical-nav a {
  display: inline-block;
}

.vertical-nav a span {
  display: inline-block;
  float: right;
  transform: scale(0.6);
}

.vertical-nav a:hover span {
  transform: scale(1);
}
.vertical-nav a:hover .cd-label {
  opacity: 1;
}
.vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d88683;
  transition: transform 0.2s, background-color 0.5s;
  transform-origin: 50% 50%;
}
.vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform-origin: 100% 50%;
}


